@import "tailwindcss";

:root {
  --headerHeight: 10dvh;
}

header {
  height: var(--headerHeight);
}

#hero {
  height: calc(100dvh - var(--headerHeight));
  overflow: hidden;
}

/* #image-preview {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
} */
